@font-face {
  font-family: 'bunzilla';
  src: url('font/bunzilla-icons.eot?79218832');
  src: url('font/bunzilla-icons.eot?79218832#iefix') format('embedded-opentype'),
       url('font/bunzilla-icons.woff?79218832') format('woff'),
       url('font/bunzilla-icons.ttf?79218832') format('truetype'),
       url('font/bunzilla-icons.svg?79218832#bunzilla-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bunzilla-icons';
    src: url('../font/bunzilla-icons.svg?79218832#bunzilla-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bunzilla";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-sad:before { content: '\e802'; } /* '' */
.icon-emo-thumbsup:before { content: '\e803'; } /* '' */
.icon-emo-coffee:before { content: '\e804'; } /* '' */
.icon-emo-sunglasses:before { content: '\e805'; } /* '' */
.icon-emo-displeased:before { content: '\e806'; } /* '' */
.icon-emo-angry:before { content: '\e807'; } /* '' */
.icon-emo-saint:before { content: '\e808'; } /* '' */
.icon-emo-cry:before { content: '\e809'; } /* '' */
.icon-emo-shoot:before { content: '\e80a'; } /* '' */
.icon-emo-laugh:before { content: '\e80b'; } /* '' */
.icon-firefox:before { content: '\e80c'; } /* '' */
.icon-chrome:before { content: '\e80d'; } /* '' */
.icon-opera:before { content: '\e80e'; } /* '' */
.icon-ie:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-heart-empty:before { content: '\e811'; } /* '' */
.icon-male:before { content: '\e812'; } /* '' */
.icon-female:before { content: '\e813'; } /* '' */
.icon-users:before { content: '\e814'; } /* '' */
.icon-person:before { content: '\e815'; } /* '' */
.icon-picture:before { content: '\e816'; } /* '' */
.icon-ok:before { content: '\e817'; } /* '' */
.icon-plus:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-tag:before { content: '\e81a'; } /* '' */
.icon-tags:before { content: '\e81b'; } /* '' */
.icon-keyboard:before { content: '\e81c'; } /* '' */
.icon-cog-alt:before { content: '\e81d'; } /* '' */
.icon-wrench:before { content: '\e81e'; } /* '' */
.icon-paper-aeroplane:before { content: '\e81f'; } /* '' */
.icon-magic:before { content: '\e820'; } /* '' */
.icon-linux:before { content: '\e821'; } /* '' */
.icon-github:before { content: '\e822'; } /* '' */
.icon-apple:before { content: '\e823'; } /* '' */
.icon-database:before { content: '\e824'; } /* '' */
.icon-bomb:before { content: '\e825'; } /* '' */
.icon-windows:before { content: '\e826'; } /* '' */
.icon-user-add:before { content: '\e827'; } /* '' */
.icon-flashlight:before { content: '\e828'; } /* '' */
.icon-chat:before { content: '\e829'; } /* '' */
.icon-mobile:before { content: '\e82a'; } /* '' */
.icon-monitor:before { content: '\e82b'; } /* '' */
.icon-theatre:before { content: '\e82c'; } /* '' */
.icon-dollar:before { content: '\e82d'; } /* '' */
.icon-cancel:before { content: '\e82e'; } /* '' */
.icon-w3c:before { content: '\e82f'; } /* '' */
.icon-html:before { content: '\e830'; } /* '' */
.icon-pinboard:before { content: '\e831'; } /* '' */
.icon-attention:before { content: '\e832'; } /* '' */
.icon-terminal:before { content: '\e833'; } /* '' */
.icon-accessibility:before { content: '\e834'; } /* '' */
.icon-css:before { content: '\e835'; } /* '' */
.icon-lock:before { content: '\e836'; } /* '' */
.icon-unlock:before { content: '\e837'; } /* '' */
.icon-lightbulb:before { content: '\e838'; } /* '' */
.icon-bug:before { content: '\e839'; } /* '' */
.icon-cog:before { content: '\e83a'; } /* '' */
.icon-rss-squared:before { content: '\e83b'; } /* '' */
.icon-home:before { content: '\e83c'; } /* '' */
.icon-feather:before { content: '\e83e'; } /* '' */
.icon-doc-text-inv:before { content: '\e83f'; } /* '' */
.icon-search:before { content: '\e840'; } /* '' */
.icon-pencil-alt:before { content: '\e841'; } /* '' */
.icon-down-open-mini:before { content: '\e842'; } /* '' */
.icon-left-open-mini:before { content: '\e843'; } /* '' */
.icon-right-open-mini:before { content: '\e844'; } /* '' */
.icon-up-open-mini:before { content: '\e845'; } /* '' */
.icon-article-alt:before { content: '\e846'; } /* '' */
.icon-hamburger:before { content: '\e847'; } /* '' */
.icon-bold:before { content: '\e848'; } /* '' */
.icon-italic:before { content: '\e849'; } /* '' */
.icon-ul:before { content: '\e84a'; } /* '' */
.icon-ol:before { content: '\e84b'; } /* '' */
.icon-paragraph:before { content: '\e84c'; } /* '' */
.icon-strike:before { content: '\e84d'; } /* '' */
.icon-underline:before { content: '\e84e'; } /* '' */
.icon-medkit:before { content: '\e84f'; } /* '' */
.icon-shield:before { content: '\e850'; } /* '' */
.icon-chart:before { content: '\e851'; } /* '' */
.icon-code:before { content: '\e852'; } /* '' */
.icon-fontsize-small:before { content: '\e853'; } /* '' */
.icon-fontsize-large:before { content: '\e854'; } /* '' */
.icon-list-dl:before { content: '\e855'; } /* '' */
.icon-superscript:before { content: '\e856'; } /* '' */
.icon-subscript:before { content: '\e857'; } /* '' */
.icon-tab:before { content: '\e858'; } /* '' */
.icon-logout:before { content: '\e859'; } /* '' */
.icon-move:before { content: '\e85a'; } /* '' */
.icon-delete:before { content: '\e85b'; } /* '' */
.icon-key:before { content: '\e85c'; } /* '' */
