/**
 * horrible hacky bullshit */
html::before {
 content: " ";
 width: 100vw;
 height: 100vh;
 
     background-color: rgba(255,255,255,0.5);
 position: fixed;
z-index: -1;
}

a {
    outline: 0px none !important;

}

p, pre {
    margin: 0;
}

.pure-button { 
    background: #8b65f4;
}

@font-face
{
    font-family: 'scp';
    src: url('font/SourceCodePro-Light.woff');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'scp', monospace;
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    height: 100%;
    margin: 1em 1em 200px 1em;

     background-color: rgba(255,255,255,0.7);

}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.is-center {
    text-align: center;
}
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #f955a8;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #fff;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #4eb3de;
}

.footer, .pure-menu.breadcrumb {
    background: #111;
}

/**
 * harbl */
html { 
    position: relative; 
    min-height: 100%; 
    background-image: url(idk-w.png); 
    background-repeat: no-repeat; 
    background-size: cover;
}

footer.footer  { 
    position: absolute; 
    bottom: 1em; 
    width: calc(100% - 2em);
    min-height: 150px;
}

table, form {
    background: rgba(255,255,255,0.9);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

::selection {
    background: #4eb3de;
    color: #fff;
}

::-moz-selection {
    background: #4eb3de;
    color: #fff;
}

table.pure-table {
    width: 100%;
}

.pure-form legend {
    padding: 0;
}

.pure-form input[type], .pure-form textarea {
    border-radius: 0;
    padding: 0;
    background: transparent;
}

textarea {
    resize: vertical;
}

.pure-form input[type]:hover {
    border-color: #4eb3de;
}

.msginfo {
    color: #4eb3de;
}

a:not([style]):not([class]) {
    text-decoration: none;
    color: #4eb3de;
}

a:not([style]):not([class]):hover {
    background: #4eb3de;
    color: #fff;
}

a.pure-menu-heading, a.pure-menu-heading:hover {
    text-decoration: none;
    background: transparent;
    border: none;
}

a.pure-menu-heading:hover {
    text-shadow: 1px 1px 2px;
}

.box {
    background: rgba(255,255,255,0.95);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin: 0;
    padding: 0.25em;
    color: #000;
}

a.pure-button, a.pure-button:hover, 
.no-border {
    border: none;
}

legend.msginfo {
    font-size: x-small;
    position: relative;
    top: 2em;
}

.pure-button, .pure-form select {
    border-radius: 0;
}


.flash {
    background: #ffe458;
    color: #000;
}

.danger {
    background: #f6009a;
    color: #fff;
}

.warning {
    background: #FA023C;
    color: #fff;
}

.info {
    background: #00AAFF; 
    color: #fff;
}

.success {
    background: #a3db23;
    color: #fff;
}

.inactive {
    background: #888;
    color: #fff;
}


.pure-button:not(button):not(a) {
    cursor: default;
}

.pure-form-aligned input[type='text'],
.pure-form-aligned textarea {
    width: 75%;
}

label,.pure-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.is-left {
    text-align: left;
}

.pure-form select {
    padding: 0;
}

h1 {
     color: #21B2F1;
     font-weight: bold;
     text-shadow: 2px 1px 0px #fff, 5px 4px 0px rgba(0,0,0,0.15);
}
.pure-button {
     opacity: 0.75;
     text-shadow: 2px 1px 0px #000, 5px 4px 0px rgba(0,0,0,0.15);
    transition: all 125ms ease-in;
    padding: 5px;
}

.pure-button:hover,
button.pure-button,
a.pure-button,
input.pure-button {
    opacity: 1;
}

button.pure-button:active,
a.pure-button:active,
input.pure-button:active
 {
    opacity: 1;
    text-shadow:   -5px -4px 0px rgba(0,0,0,0.15);
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    margin: 0;
    box-shadow: none;
}

.card header {
    float: left;

     background-color: rgba(255,255,255,0.7);
    width: 100%;
}

.card header + p {
    clear: both;
}

.card header.msginfo {
    float: none;
}

.card [title] {
    position: relative;
    padding-top: 1.25em;
}
.card [title]:not([class*='icon']):before,
.pure-menu-selected:after {
     content: attr(title);
     font-size: xx-small;
    position: absolute;
    top: 0;
    color: #999;
}

.card header a.pure-button {
    background: none;
}

.pure-menu.breadcrumb { 
	overflow: hidden;
    box-shadow: none;
    margin-bottom: 2px;
}

.pure-menu-selected:after {
    content: 'you are here';
    width: 100%;
    display: block;
    text-align: right;
    top: auto;
    bottom: 0;
}

.breadcrumb li { 
	float: left; 
}

.pure-menu.breadcrumb li a {
	color: white;
	text-decoration: none; 
	padding: 10px 0 10px 55px;
	background: #888;
	position: relative; 
	display: block;
	float: left;
    border-bottom: none;
    text-decoration: underline;
}

.breadcrumb li a:after { 
	content: " "; 
	display: block; 
    width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #888;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}	

.breadcrumb li a:hover {
    text-decoration: none;
}

.breadcrumb li a:hover:before,
.breadcrumb li a:hover:after
{
    border-left-color: #4eb3de;
}

.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}	


.breadcrumb li:first-child a {
	padding-left: 10px;
}

.breadcrumb li:last-child a {
	background: transparent !important;
	color: #4eb3de;
	pointer-events: none;
	cursor: default;
    font-style: italic;
    text-decoration: none;
}

.breadcrumb li:last-child.pure-menu-selected a:after,
.breadcrumb li:last-child.pure-menu-selected a:before { border: 0; }

footer.footer section {
    padding: 1em;
    font-family: 'scp', monospace !important;
    text-align: left;
}

footer.footer a {
    color: #fff !important;
}

footer.footer ul, footer.footer h6 {
    font-size: x-small;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer.footer pre {
    color: #888;
    font-size: xx-large;
     text-shadow: 2px 1px 0px rgba(0,0,0,0.2), 5px 4px 0px rgba(0,0,0,0.15);
}
@media (min-width: 48em) {

    body {
        font-size: 16px;
    }
    
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }
}
@media (max-width: 800px) 
{
    body {
        margin-bottom: 400px;
    }

    .pure-form-aligned input[type='text'],
    .pure-form-aligned textarea {
        width: 100%;
    }
    .pure-button {
        display: block;
        width: 100%;
    }
    .card header {
        float: none;
    }
}
