/** THE RIDE NEVER ENDS **/
/**html { height: 100% }
body { height: calc(100% - 60px) !important; margin: 60px 0 0 0 !important; }
body > main { height: calc(100% - 170px); }**

AAAAAAAAAAAAAAAAAAAAAAAAAAAA

*/
html,body#bunzilla { height: 100% !important; }
body#bunzilla { margin: 60px 0 0 0 !important; }
#page-wrap { min-height: 100% !important; margin-bottom: -150px !important; }
#page-wrap::after { content: ""; display: block; }
body#bunzilla > footer.footer, #page-wrap::after { padding: 0 !important; height: 150px !important; }

.mp-pushed .mp-menu {
    position: fixed;
    left: 0;
    top: 0;
}
.mp-pusher main {
    height: 100%;
}
.mp-pusher {
}
.transparent {
    background: transparent;
}
td > [class*='status-'] {
    display: block;
}
[class*='status-'] {
    padding: 10px 2px;
}
[class*='tag-'] {
    padding: 2px;
}
.collapsible, .collapsible-header {
    border: none !important;
    box-shadow: none !important;
}
strong, b { font-weight: bold }
thead th[class*='sorttable_'] i {
    display: none;
}
/**
 * damn it */
nav#mp-menu ul li,
nav#mp-menu ul {
    float: none; 
}
nav#mp-menu {
    line-height: 35px !important;
}
nav#mp-menu a, .collapsible label {
    color: inherit !important;
}
/* find a.button-collapse and KILL IT D:< */
/*warfgarblfasdff*/
a#mp-trigger.button-collapse {
    display: inline-block !important;
    cursor: pointer !important;
}
/** seriously, fuck off */
div#sidenav-overlay, .gone {
    display: none !important;
}
/**
 * this is basics guys c'mon

 (shoutouts to iron chef italian */
.collapsible-body, .collapsible p, .collapsible li {
    padding: 0 !important;
    border: 0 !important;
    clear: both !important;
}
tr,td,th,.collapsible-header,.collapsible-body {
    border-radius: 0;
    padding: 0;
}
.collapsible {
    margin: 0;
    padding: 0;
    overflow: visible;
}
blockquote {
    margin-top: 0;
    margin-bottom: 0;
}
table thead tr th {
    text-align: right !important;
}

table tbody tr td {
    text-align: left !important;
}
/** just fix the scss already fff */
span.badge {
/*    color: inherit !important;*/
}
.tabs, ul.tabs li {
    height: 2em !important;
    line-height: 2em !important;
    text-transform: none !important;
}
/** DELETE THIS **/
:target {
    box-shadow: 0px 0px 10px #fff;
}
/** FUCKERS **/
.thumb {
    display: inline-block;
    text-align: center;
}
.thumb .value {
    width: 50% !important;
    margin: auto !important;
    color: inherit !important;
    transform: none !important;
}

/**
 * widgetry */
#toolsModal {
    padding: 0;
}
#toolsModal i::before {
    font-size: inherit;
}

#toolsModal label {
    display: block;
}
/**
 * faggotry */
span.badge[class*='tag-'] {
    float: none !important;
}
.collapsible-header { height: auto !important; line-height: normal !important; }
.collapsible .row .col { padding: 0 !important; }

img { width: 50%; cursor: zoom-in }
.small { font-size: x-small; }

/**
 * goddam */
#list { padding: 0 2em; height: 100%; margin: 0 1em 1em 1em; }
#list li { margin-bottom: 12px; /*1em*/  }
#list li .row { margin: 0 !important }
#list .collapsible-header {/* margin-bottom: 1em; */ cursor: row-resize; box-shadow: none !important;  }
#list .collapsible-header i[class*="icon"]:before { font-size: 1rem; }
#list .collapsible-header > .row { /*padding: 0.5em 1em 0 1em;*/ }
#list .collapsible-header a:hover { text-decoration: underline; cursor: pointer; color: #2962FF; }
#list .subject-line a { line-height: 2rem; display: inline-block; max-width: 66.6667%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#list li:nth-child(even) .collapsible-header { background: #ccc; color: #000 !important; }
#list li:nth-child(odd) .collapsible-header { background: #fff; color: #000 !important;  }
#list blockquote, #report blockquote { padding-right: 1rem; margin: 0 1rem; border-left-color: currentColor !important; border-left-style: dotted }
#list .divider { margin: 1rem 0; }
#list span.small { padding: 0.5em; }
#list span { cursor: default }

.row { margin-bottom: 0 !important; }

[class*='waves-'] {
    overflow: visible !important;
}
#fuck .btn-flat { 
    padding: 0 !important;
    height: auto !important;
    color: #fff !important;
    width: 100% !important;
}

#gn-menu nav, #gn-menu li {
    vertical-align: middle;
}
#gn-menu [class*='icon']::before {
    color: hotpink;
}

#gn-menu ul { line-height: 60px !important; }

#gn-menu nav ul a, #gn-menu nav * {
}

#gn-menu input[type] { width: auto !important; }
#fuck, #fuck * { background: #888 !important; /* FUCKING ISDFL:KJSDFLJ:K */ }

.section { padding: 1em; }
.btn-floating { color: #fff !important }
#page-wrap, main, .container { min-height: 100%; }

.collapsible-body {
        display: block;
        max-height: 0px;
        overflow: hidden;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: max-height 350ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
        transform: translate3d(0,0,0);
        transition: max-height 350ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-backface-visibility:hidden;
        -webkit-perspective: 1000;
}
 
.collapsible-body.animated {
        max-height: 1000px;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
}

#gn-menu {
    -webkit-transition: width 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, background-color 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transition: width 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, background-color 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
}

#gn-menu.headroom--pinned {
    width: 100%;
}

#gn-menu.headroom--unpinned > li:not([class^="gn-trigger"]) {
    font-size: 0px;
    display: none;
}

#gn-menu.headroom--unpinned {
    width: 60px;
    background: transparent;
}

#toolsModal, #toolsModal *, [class*='waves-'] { overflow: hidden; }
#toolsModal .btn { background: #4eb3de; }
textarea ~ a[href="#toolsModal"] { position: absolute; right: 0; top: 0; opacity: 0; transition: opacity 0.2s ease-in}
textarea:focus ~ a[href="#toolsModal"] { opacity: 1; }
#withToolsModal div.input-field { position: relative; }
