/**
 * stuff to be merged into materialize.scss */
html,body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background: #fff !important;
    letter-spacing: -0.07em;
    /**
     * sv_cheats 1 */
    overflow-x: hidden; 
    overflow-x: -moz-hidden-unscrollable;
}
.transparent {
    background: transparent;
}
[class*='status-'] {
    display: block;
    padding: 10px 2px;
}
[class*='tag-'] {
    padding: 2px;
}
.collapsible, .collapsible-header {
    border: 0;
}
strong, b { font-weight: bold }
thead th[class*='sorttable_'] i {
    display: none;
}
