html,body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background: #fff !important;
    letter-spacing: -0.07em;
    /**
     * sv_cheats 1 */
    overflow-x: hidden; 
    overflow-x: -moz-hidden-unscrollable;
}
.transparent {
    background: transparent;
}
