/**
 * stuff to be merged into materialize.scss */
/** (done) **/

/**
 * widgetry */
#toolsModal {
    background: rgba(255,255,255,0.7);
    padding: 0;
}
#toolsModal i::before {
    font-size: inherit;
}

/**
 * goddam */
#list { padding: 0 2em; height: 100%; margin: 0 1em 1em 1em; }
#list li { margin-bottom: 12px; /*1em*/  }
#list li .row { margin: 0 !important }
#list .collapsible-header > .row { /*padding: 0.5em 1em 0 1em;*/ }
/*#list .collapsible-header a:hover { text-decoration: underline; cursor: pointer; color: #2962FF; }*/
#list .subject-line a { line-height: 2rem; display: inline-block; max-width: 66.6667%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#list li:nth-child(even) .collapsible-header { background: #ccc; color: #000 !important; }
#list li:nth-child(odd) .collapsible-header { background: #fff; color: #000 !important;  }

#list .divider { margin: 1rem 0; }
#list span.small { padding: 0.5em; }
#list span { cursor: default }

.row { margin-bottom: 0 !important; }
