/** THE RIDE NEVER ENDS **/
/**html { height: 100% }
body { height: calc(100% - 60px) !important; margin: 60px 0 0 0 !important; }
body > main { height: calc(100% - 170px); }**

AAAAAAAAAAAAAAAAAAAAAAAAAAAA

*/
html {

    /**
     * sv_cheats 1 */
    overflow-x: hidden; 
    overflow-x: -moz-hidden-unscrollable;
}
html,body#bunzilla { height: 100% !important; }
body#bunzilla { margin: 60px 0 0 0 !important; }
#page-wrap { min-height: 100% !important; margin-bottom: -150px; }
#page-wrap::after { content: ""; display: block; }
body#bunzilla > footer.footer, #page-wrap::after { padding: 0 !important; height: 150px !important; }
#page-wrap > header { position: absolute; z-index: 1000; }

.mp-pushed .mp-menu {
    position: fixed;
    left: 0;
    top: 0;
}
.mp-pusher main {
    height: 100%;
}
.mp-pusher {
}
.transparent {
    background: transparent;
}
td > .status {
    display: block;
}
.status {
    padding: 10px 2px;
}
.tag {
    padding: 2px;
}
.collapsible, .collapsible-header {
    border: none !important;
    box-shadow: none !important;
}
strong, b { font-weight: bold }
thead th[class*='sorttable_'] i {
    display: none;
}
/**
 * damn it */
nav#mp-menu ul li,
nav#mp-menu ul {
    float: none; 
}
nav#mp-menu {
    line-height: 35px !important;
}
nav#mp-menu a, .collapsible label {
    color: inherit !important;
}
/* find a.button-collapse and KILL IT D:< */
/*warfgarblfasdff*/
a#mp-trigger.button-collapse {
    display: inline-block !important;
    cursor: pointer !important;
}
/** seriously, fuck off */
div#sidenav-overlay, .gone {
    display: none !important;
}
/**
 * this is basics guys c'mon

 (shoutouts to iron chef italian */
.collapsible-body, .collapsible p, .collapsible li {
    padding: 0 !important;
    border: 0 !important;
    clear: both !important;
}
tr,td,th,.collapsible-header,.collapsible-body {
    border-radius: 0;

}
.collapsible {
    margin: 0;
    padding: 0;
    overflow: visible;
}
blockquote {
    margin-top: 0;
    margin-bottom: 0;
}
table thead tr th {
    text-align: right !important;
}

table tbody tr td {
    text-align: left !important;
}
/** just fix the scss already fff */
span.badge {
/*    color: inherit !important;*/
}
.tabs, ul.tabs li {
    height: 2em !important;
    line-height: 2em !important;
    text-transform: none !important;
}
/** FUCKERS **/
.thumb {
    display: inline-block;
    text-align: center;
}
.thumb .value {
    width: 50% !important;
    margin: auto !important;
    color: inherit !important;
    transform: none !important;
}

/**
 * widgetry */
#toolsModal {
    padding: 0;
}
#toolsModal i::before {
    font-size: inherit;
}

#toolsModal label {
    display: block;
}
.collapsible .row .col { padding: 0 !important; }

img { width: 50%; cursor: zoom-in }

/**
 * goddam */
#list { height: 100%; }
#list li { margin-bottom: 4px; }
#list li .row { margin: 0 !important }
#list .collapsible-header {  cursor: pointer; box-shadow: none !important; line-height: 1 !important; }
#list .collapsible-header i[class*="icon"]:before { font-size: 1rem; }
#list .collapsible-header > .row { /*padding: 0.5em 1em 0 1em;*/ }
#list .collapsible-header a:hover { text-decoration: underline; cursor: pointer; color: #2962FF; }
#list .subject-line { z-index: 110; }
#list .subject-line a { margin: 0; line-height: 1.874em; display:inline-block; max-width: calc(100vw - 10em); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: justify;  }
/*#list li:nth-child(even) .subject-line { background: #ccc; color: #000 !important; }
#list li:nth-child(odd) .subject-line { background: #fff; color: #000 !important;  }*/
#list .divider { margin: 1rem 0; }
#list .btn-flat.asc i::before {
    content: '\e845';
}
#list .btn-flat.desc i::before {
    content: '\e842';
}
#list .btn-flat.asc, #list .btn-flat.desc {
    background: #4eb3de;
    color: #fff;
}
#list

.row { margin-bottom: 0 !important; }

#list .collapsible-header { position: relative; z-index: 100; padding: 4px 0; }
#list .collapsible-body { z-index: 99; margin-top: -8px; }
/*
[class*='waves-'] {
    overflow: visible !important;
}
*/
#fuck .btn-flat { 
    padding: 0 !important;
    height: auto !important;
/*    color: #fff !important;*/
    width: 100% !important;
    background: inherit;
}

#gn-menu nav, #gn-menu li {
    vertical-align: middle;
}

#gn-menu ul { line-height: 60px !important; }

#gn-menu nav ul a, #gn-menu nav * {
    overflow-x: hidden;
}

/*#fuck, #fuck * { background: #888 !important; /* only dreams now~ } */

.section { padding: 1rem; }


.collapsible-body {
        display: block;
        max-height: 0px;
        overflow: hidden;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: max-height 350ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
        transform: translate3d(0,0,0);
        transition: all 350ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
        -webkit-backface-visibility:hidden;
        -webkit-perspective: 1000;
}
 
.collapsible-body.animated {
        max-height: 1000px;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
}

#gn-menu {
    -webkit-transition: width 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, background-color 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transition: width 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, background-color 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
}

#gn-menu.headroom--pinned {
    width: 100%;
    background: #fff;
    z-index: 10001;
}

#gn-menu.headroom--unpinned > li:not([class^="gn-trigger"]) {
    font-size: 0px;
    display: none;
}

#gn-menu.headroom--unpinned {
    width: 60px;
    background: transparent;
}

#gn-menu.headroom--unpinned .gn-icon-menu:before {
     color: #fff;
    opacity: 0.3;
     text-shadow: 1px 1px 0px #000000, 
-1px 1px 0px #000000, 
1px -1px 0px #000000, 
-1px -1px 0px #000000;

}

#gn-menu .gn-menu { z-index: 10001; }

#back-to-top {
    position: fixed; bottom: 2em; right: 2em;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
}

#back-to-top:hover {
    opacity: 1;
}

.headroom--unpinned + #back-to-top:not(:hover) {
    opacity: 0.5;
}

textarea ~ a[href="#toolsModal"] { position: absolute; right: 0; top: 0; opacity: 0; transition: all 0.2s ease-in}
textarea:focus ~ a[href="#toolsModal"] { opacity: 1; top: -2em; }
#withToolsModal div.input-field { position: relative; }

/*a:not([class*='tag-']):not([class*='category-']), .btn-floating i { color: inherit !important; }*/
p { margin: 0; }
p.tooltipped { cursor: help; }
header section.primary-base > * { margin: 0 !important; }
.waves-effect { overflow: hidden !important; }
header section.primary-base.waves-effect { display: block !important; }
.tabs div.indicator { width: auto !important; }

/** bootleg material design **/
@keyframes input-highlight {
0% { left: 20%; width: 20%; }
99% { width: 0px; left: 0px; opacity: 1; }
100% { opacity: 0; }
}
@-webkit-keyframes input-highlight {
0% { left: 20%; width: 20%; }
99% { width: 0px; left: 0px; opacity: 1; }
100% { opacity: 0; }
}

.input-field {
    position: relative;
}

.material-input:before {
     background-color: #4eb3de;
     bottom: calc(1em - 1px);
     content: "";
     height: 2px;
     left: 0px;
     position: absolute;
     transform: scaleX(0);
     transition: transform 0s ease 0s;
     width: 100%;
}

input:focus ~ .material-input:before, 
textarea:focus ~ .material-input:before 
{
     transform: scaleX(1);
     transition: transform 0.2s ease-out 0s;
}

.material-input:after {     
     content: "";
     height: 1.5em;
     left: 0px;
     margin-top: -1px;
     opacity: 0.9;
     pointer-events: none;
     position: absolute;
     top: 7px;
     transform-origin: left center 0px;
     width: 100px;
}

.input-lg ~ .material-input:after {
     height: 26px;
}


input:focus ~ .material-input:after,
textarea:focus ~ .material-input:after
{
     background-color: #4eb3de;
     animation: 0.3s ease 0s normal forwards 1 input-highlight;
     -webkit-animation: 0.3s ease 0s normal forwards 1 input-highlight;
     opacity: 0;
}

/** some radical notion **/
input, textarea, textarea:focus { border: 0 !important; box-shadow: none !important }
input:checked ~ label { color: #0af; }

@media (max-width: 601px) {
    .section { padding-left: 0; padding-right: 0; }
}

blockquote { width: calc(100% - 3em); padding: 0 0.5rem 1rem 0.5rem; overflow-x: auto; }
blockquote pre { width: 100%; margin: 0; }


.active .collapsible-body.fuckityfuckfuck { overflow: visible; }*/

#gn-menu small {
 font-variant: normal;
}

.hide-overflow-text {max-width: calc(100% - 10em); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; }


.bc-container::before {
    content: "\21b6 you are here";
    position: fixed;
    right: 1em;
    top: -5px;
    font-size: smaller;
    letter-spacing: 0px;
    text-shadow: 0 4px rgba(0, 0, 0, 0.24), 0px 2px rgba(0, 0, 0, 0.19);
    z-index: 10000;
}

.bc-container::before::first-letter {
    font-size: xx-large;
}

.bc-container,
.bc-item {
    max-height: 30px;
    line-height: 30px;
    margin: 0;
}

.bc-container {
    margin-top: 15px;
}

.bc-triangle {
    position: relative;
    z-index: 10;
}

.bc-triangle::before, 
.bc-triangle::after {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px;
}

.bc-triangle::before {
    border-color: transparent transparent transparent #888;
    left: 1px;
}
.bc-triangle::after {
    border-color: transparent transparent transparent currentColor;
    left: 0;
    top: 0;
}

.bc-container a {
    height: auto !important;
    color: inherit;
}

.bc-parent {
    width: calc(100% - 60px - 1em);
}
#gn-menu .select-wrapper span.select-dropdown:after {
    position: static;
}
#gn-menu .select-wrapper span.select-dropdown {
    border-style: none;
    font-size: 1rem;
    height: auto;
    line-height: 30px;
    color: inherit !important;
    margin: 0 !important;
}
#bc-catlist {
}

.dropdown-content li > a, .dropdown-content li > span
{
}

.dropdown-content {
    z-index: 10000 !important;
}

/*#gn-menu a.dropdown-button {
    box-shadow: none !important;
    display: block;
    margin-top: -30px;
    max-height: 30px;
}*/

.btn-flat:not(.btn-floating), .btn:not(.btn-floating) { padding: 0 0.5em !important }
.btn-flat { background: transparent; }

/** FRAMEWORKS MAKE EVERYTHING BETTER AMIRITE */
input[autofocus] + label,
input:not([type='checkbox']):not([type='radio']) + label.active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-130%);
    -moz-transform: translateY(-130%);
    -ms-transform: translateY(-130%);
    -o-transform: translateY(-130%);
    transform: translateY(-130%);
    color: #0af;
}

[data-textlabel] { position: relative; }

[data-textlabel]::before {
    content: attr(data-textlabel);
    color: currentColor;
    text-transform: lowercase;
    position: absolute;
    left: 0;
    top: -5px;
    font-size: 0.6667rem;
    letter-spacing: 0px;
    text-shadow: 0 4px rgba(0, 0, 0, 0.24), 0px 2px rgba(0, 0, 0, 0.19);
}
/** plox donut ask */
#gn-menu abbr[data-textlabel]::before {
    display: inline-block;
    width: 100vw;
}

#gn-menu a.waves-effect { display: block !important; }
#gn-menu .bc-item a { max-height: 30px }
select.browser-default {
    height: auto !important;
    padding: 0 !important;
}
.material-tooltip { z-index: 10000 }

.active .hide-on-active, .hide-on-inactive { font-size: 0; visibility: hidden; }
.active .hide-on-inactive { font-size: 1rem; visibility: visible; }
.collapsible-body:not(.animated) { box-shadow: none }

.btn-large i { font-size: 2.6rem !important; }
.btn-small i { font-size: 1.25rem !important;
    position: absolute;
    left: 0; /** ¯\_(ツ)_/¯ **/
}

.tag {
    font-size: 12px !important;
    height: 24px;
    z-index: 3;
    position: relative;
    top: 3px;
    padding: 0.3333em 1em !important;
    box-shadow: none !important;
    min-width: 2rem !important;
}

#list span.tag {
    z-index: -1;
}

@media(max-width: 600px)
{ 
.tag::before {
    right: 0 !important;
}
}
.tag::before {
    position: absolute;
    right: -6px;
    z-index: 2;
}
.tag::after {
    position: absolute;
    top: 0px;
    right: -12px;
    content: '';
    height: 0;
    width: 0;
    border-top: 12px transparent solid;
    border-right: none;
    border-bottom: 12px transparent solid;
    border-left-width: 12px;
    border-left-style: solid;
}
span.priority {
    font-size: 0.8889rem !important;
    padding: 4px 6px !important;
    margin: 3px 1rem 0 0;
}
.small { font-size: 0.8889rem !important; }


#materialbox-overlay { z-index: 1000 !important; }
.materialbox-caption, .material-placeholder[style] { z-index: 1001 !important; padding: 0 !important; }
img.intialized.active { cursor: zoom-out }
