### HTTP Authentication
###
### 1. use res/generatepasswd.php
### 1.5 uncomment the following lines
### 2. ???
### 3. HTTP authentication!

#AuthType Basic
#AuthName "Bunzilla"
#AuthUserFile /path/to/bunzilla/res/.htpasswd
#Require valid-user

### End HTTP Authentication

Options -MultiViews

### 
### Here is that mod_rewrite bit I was talking about
### Just uncomment the following lines 

#RewriteEngine On
#RewriteBase /bunzilla
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^(.+)$ index.php?$1 [QSA,L]
 
### and delete or comment out all of the following
### unless you're actually me or something
RewriteEngine On
RewriteCond %{HTTP_HOST} ^meta\.bunzilla\.ga$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ /index.php?url=$1 [QSA,NC,L]

RewriteCond %{HTTP_HOST} ^var\.abl\.cl$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ /bunzilla/index.php?url=$1 [QSA,NC,L]
